.fibonacci {
  &__path {
    fill: none;
    stroke-opacity: 0.75;
    stroke-width: 12px;
    stroke-linecap: round;
    transition: stroke #{$transitionDuration}ms ease-in-out;
  }

  &__rect {
    fill: none;
    stroke-width: 1px;
    outline-style: dashed;
    outline-offset: 6px;
    outline-width: 1px;
    transition: outline-color #{$transitionDuration}ms ease-in-out,
      stroke #{$transitionDuration}ms ease-in-out;
  }
}
