.header {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  transition: background-color #{$animationDuration}ms ease-in-out,
    height #{$animationDuration}ms ease-in-out;
  z-index: 7;

  @include mediaSmall() {
    padding: {
      left: $global-margin-sm;
      right: $global-margin-sm;
    }
  }

  @include mediaMedium() {
    padding: {
      left: $global-margin-md;
      right: $global-margin-md;
    }
  }

  @include mediaLarge() {
    padding: {
      left: $global-margin-lg;
      right: $global-margin-lg;
    }
  }

  &--top {
    height: #{$navigation-height-md}px;
  }

  &--fixed {
    height: #{$navigation-height-sm}px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.25);

    + .generalPageLayout__content {
      padding-top: #{$navigation-height-md}px;
    }

    .header__logo {
      height: 36px;
    }
  }

  &__logo {
    height: 48px;
    transition: height #{$animationDuration}ms ease-in-out;

    &:focus {
      outline: $outline;
    }

    &__img {
      height: 100%;
    }
  }

  &__menu {
    display: flex;
    align-items: center;

    .switch {
      @include mediaSmall() {
        margin: {
          left: $global-gutter-sm;
          right: $global-gutter-sm;
        }
      }

      @include mediaMedium() {
        margin: {
          left: $global-gutter-md;
          right: $global-gutter-md;
        }
      }

      @include mediaLarge() {
        margin: {
          left: $global-gutter-lg;
          right: $global-gutter-lg;
        }
      }
    }
  }

  &__btn {
    $ButtonConfig: (
      hoverColor: $green,
    );

    @include button-icon($ButtonConfig);

    &:focus {
      outline: $outline;
    }
  }
}
