.pie {
  text.label {
    font-family: 'Raleway', sans-serif;
    font-size: 9px;
    fill: $white;
    text-anchor: middle;
    alignment-baseline: middle;
    mix-blend-mode: difference;
    opacity: 0.5;
  }
}
