.sideNavigation {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: $black;
  box-sizing: border-box;
  transition: width #{$transitionDuration}ms ease-in-out,
    transform #{$transitionDuration}ms ease-in-out;
  z-index: 9;

  @include mediaSmall() {
    width: 100%;
  }

  @include mediaMedium() {
    width: 100%;
  }

  @include mediaLarge() {
    width: 280px;
  }

  &--closed {
    transform: translateX(100%);
  }

  &__close {
    $ButtonConfig: (
      hoverColor: $white,
    );

    @include button-icon($ButtonConfig);

    &:focus {
      outline: $outline-reverse;
    }
  }

  &__header {
    display: flex;
    height: #{$navigation-height-md}px;
    align-items: center;
    justify-content: flex-end;

    @include mediaSmall() {
      padding : {
        left: $global-gutter-sm;
        right: $global-gutter-sm;
      }
    }

    @include mediaMedium() {
      padding : {
        left: $global-gutter-md;
        right: $global-gutter-md;
      }
    }

    @include mediaLarge() {
      padding : {
        left: $global-gutter-lg;
        right: $global-gutter-lg;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: $global-gutter-lg;
    color: $white;
    font-family: AvenirNext-DemiBold;
    font-size: $global-font-label-md;
    text-decoration: none;
    transition: background-color #{$animationDuration}ms ease-in-out;

    &:focus {
      outline: $outline-reverse;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}
