$fa-font-path: './styles/fonts';
$ion-font-path: './styles/fonts';

$breakpoint-sm: 600;
$breakpoint-md: 1024;

$navigation-height-sm: 60;
$navigation-height-md: 80;

$transitionDuration: 500;
$animationDuration: 250;

$global-margin-sm: 12px;
$global-margin-md: 16px;
$global-margin-lg: 20px;

$global-gutter-sm: 8px;
$global-gutter-md: 12px;
$global-gutter-md: 16px;

$global-font-title-sm: 16px;
$global-font-title-md: 20px;
$global-font-title-lg: 24px;
$global-font-label-sm: 14px;
$global-font-label-md: 16px;
$global-font-label-lg: 18px;
$global-font-content-sm: 10px;
$global-font-content-md: 12px;
$global-font-content-lg: 14px;
